*{
      margin: 0;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'Trebuchet MS';
	background-color: #fafafa;
	text-align: center;
}
form{
	gap: 10px;
}
form button{
	display: flex;
	 color: white;
    background: rgb(0, 234, 255);
    border: 1px solid rgb(0, 234, 255);
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
}
footer img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 8px;
    font-size: 360px;

}
.logo img{
width: 120px;
height: auto;
border-radius: 10px;
cursor: pointer;
}
input{
	display: block;
	width: 100%;
	text-align: left;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid gray;
    gap: 15px;
}
nav :hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.logo img{
width: 120px;
height: auto;
border-radius: 10px;
cursor: pointer;
}
.icons a{
    text-decoration: none;
}
.icons a img{
    height: 35px;
    margin-left: 5px;
    transition: .2s ease-in-out;

}
.icons a img:hover{
    height: 36px;
}
@media screen and (max-width: 600px){
    p{
      padding-right: 40px;  
    }
}