*{
     text-align: center;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}
nav :hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.back img{
    width: 120px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}
.back h2{
    margin: 5px;
}
.back p{
    font-size: 20px;
    display: inline-flex;
    margin: 20px;
    vertical-align: middle;
}
.see h3{
    margin:10px ;
}
footer img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 8px;
    font-size: 360px;
}
footer h4{
    font-size: 20px;
    margin: 20px;
}

.bread h4{
    margin: 10px;
    padding-top: 20px;
}
.icons a{
    text-decoration: none;
}
.icons a img{
    height: 35px;
    margin-left: 5px;
    transition: .2s ease-in-out;

}
.icons a img:hover{
    height: 36px;
}
/* responsiveness for mobile devices (Design for Phone) */
@media screen and (max-width: 600px){
    .navbar{
        width: 98%;
    }
    .mission,.about,.story{
        padding-left: 10px;
        font-size: 12px;
    }
}