*{
    text-align: center;
    padding: 0;
    margin: 0;
    
    
}
nav{
    background: darkgoldenrod;
    height: 100%;
    
}
nav :hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.logo h1{
   font-size: 28px; 
   padding-top: 10px;
}
.logo img{
width: 120px;
height: auto;
border-radius: 10px;
cursor: pointer;
}

.work{
    padding: 40px 20px;
     position: relative;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 550px;
}

.work p{
font-size: 20px;
margin: 10px auto;
}
.work img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}
.pics h3{
    margin-bottom: 20px;
}
.pics ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}
.pics img{
    width: 100%;
    border-radius: 10px;
    height: 200px;
}
.pics li{
    padding: 10px;
}

footer img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 8px;
}
button{
  background: green;
	color: white;
	padding: 10px 50px;
	border-radius: 50px;
	border: none;
	margin: 20px 0;
	
   
}
footer{
    background:darkcyan;
    padding: 50px 0;
}
h4{
    font-size: 30px;
    padding-bottom: 20px;
}
/* Responsive */
@media (max-width:600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
    .pics img{
        width: 60px;
    }
}
